html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: rgb(3,5,13);
  overflow: hidden;
}

#map-container {
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}

.map {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute !important;
  top: 0;
  background-color: rgb(3,5,13);
}

#prompt{
  visibility: hidden;
  color: white;
  background-color: rgba(254,107,32,.8);
  position: absolute;
  padding: 15px 20px;
  z-index: 500;
  top: 0;
  width: 350px;
  left: calc(50% - 175px);
  padding: 15px 20px;
  text-align: center;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.leaflet-bar a, .reset, .leaflet-bar a:hover, .reset:hover {
  background-color: rgba(101,105,110, .9);
  color: white;
  -webkit-user-select: none;
  user-select: none;
}

.leaflet-touch .leaflet-bar a, .reset {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.reset {
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background-image: url(globe.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.leaflet-bar, .leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}